 <template>
  <div class="radio-button-group">
    <!--<input type="radio" value="AND" v-model="operator">
    <input type="radio" value="OR" v-model="operator">  -->
    <!---->
    <label v-for="option in options" :key="option">
      <input type="radio" :value="option" :id="option"  v-model="operator" @change="setOperator(option)" />
      {{ option }}
    </label>

    <!--<input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <span>Picked: {{ picked }}</span>-->
  </div>
</template>

<script>
export default {
  name: 'AndOr',
  props: {
    items: {
      type: Array,
      required: true,
      default: () => [],
    }
  },
  data() {
    return {
      picked: "one",
      operator: 'AND',
      options: ['AND', 'OR'],
    };
  },
  mounted() {
  },
  unmounted() {
  },
  methods: {
    setOperator(option) {
      this.operator = option;
    }
  }
};
</script>

<style>
 .radio-button-group {
  --width: 60%;
  margin: 20px auto;
  padding: 15px 20px;
  --border: 1px solid black;
  --border-radius: 8px;

  display: flex;
  justify-content: center;
}
</style>