<template>
<table id="thirdTable">
  <thead>
    <tr>
      <th v-for="col in columns"  :key="col.id" >{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in items"  :key="row.id">
      <td v-for="col in columns"  :key="col.id">{{row[col]}}</td>
    </tr>
  </tbody>
</table>
</template>

<script>
export default {
  name: 'ResultsTable',
  props: {
      items: {
        type: Array,
        required: true,
        default: () => [
          {"id":1, "argomenti_corrispondenti":"1","titolo":"I militari e la Cina dei cinque contrappesi","anno":"2009","mese":"Aprile","numerogiornaleit":"464","numeropaginait":"9","autore":"Casella Robertor"},
          {"id":1, "argomenti_corrispondenti":"1","titolo":"Armi e riforme del welfare cinese","anno":"2009","mese":"Ottobre","numerogiornaleit":"470","numeropaginait":"11","autore":"Casella Robertor"},
          {"id":1, "argomenti_corrispondenti":"1","titolo":"Le zanne del Dragone","anno":"2010","mese":"Maggio","numerogiornaleit":"477","numeropaginait":"9","autore":"Casella Robertor"},
          {"id":1, "argomenti_corrispondenti":"1","titolo":"Lu2019Asia in movimento","anno":"2011","mese":"Settembre","numerogiornaleit":"493","numeropaginait":"14","autore":"Davoli Piermariar"},
          {"id":1, "argomenti_corrispondenti":"1","titolo":"Febbre elettorale in India","anno":"2013","mese":"Maggio","numerogiornaleit":"513","numeropaginait":"9","autore":"Casella Robertor"}

        ],
      }
  },
  data() {
      return {
        rowsData: [],
        //columns: ['id', 'name', 'phone', 'profession']
    };
  },
  mounted() {
  },
  unmounted() {
  },
  methods: {
    filterData() {
      this.rowsData = this.items; //.filter(item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1);
    }
  },
  computed: {
    columns: function() {
      if (this.items.length == 0) {
        return [];
      }
      return Object.keys(this.items[0])
    }
  }

};
</script>

<style>
table {
  font-family: 'Open Sans', sans-serif;
  width: 750px;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
}

table th {
  text-transform: uppercase;
  text-align: left;
  background: #44475C;
  color: #FFF;
  cursor: pointer;
  padding: 8px;
  min-width: 30px;
}
table th:hover {
        background: #717699;
      }
table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}
</style>