<template>
  <div class="autocomplete">
    <input v-model="search" @input="onChange" type="text" />
    <ul v-show="isOpen" class="autocomplete-results" >
      <li v-for="(result, i) in results" :key="i" @click="setResult(result)" class="autocomplete-result" >
        {{ result }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'SearchAutocomplete',
  props: {
    items: {
      type: Array,
      required: true,
      default: () => ["1973",
                      "1979",
                      "2007",
                      "2008",
                      "2020",
                      "A2A",
                      "AAP, Aam Aadmi Party (India)",
                      "Abe, Shinzo",
                      "Abitazioni",
                      "ABN Amro",
                      "Accordi monetari",
                      "Adesione al WTO",
                      "Adorno, Theodor W.",
                      "Advani, Lal Krishna",
                      "Afghanistan",
                      "Africa",
                      "Agnelli, Gianni",
                      "Agricoltura",
                      "AIDS",
                      "AIG, American International Group",
                      "Air France-KLM",
                      "Airbus",
                      "AKP, Adalet ve Kalkınma Partisi (Turchia)",
                      "Alawiti",
                      "Alcatel-Lucent",
                      "Alenia",
                      "Alibaba Group",
                      "Alitalia",
                      "Allargamento della UE",
                      "Allianz",
                      "Alstom",
                      "Amazon",
                      "Amburgo",
                      "AMCU, Association of Mineworkers and Construction Union",
                      "America Latina",
                      "AMUE, Association for the Monetary Union of Europe",
                      "AN, Alleanza Nazionale",
                      "Anarchismo",
                      "Anni '30",
                      "Anni '90",
                      "Ansaldo Energia",
                      "Ansteel",
                      "Anti-dumping",
                      "Antologia, ''Bruno Fortichiari. In memoria di uno dei fondatori del PCd'I''",
                      "Antologia, ''La fondazione dell'Internazionale Comunista''",
                      "Antologia, ''Primo Maggio, nella storia della classe operaia''",
                      "Antologia, ''Una causa di tutta l'umanità''",
                      "Antologia, ''Ungheria 1956. Necessità di un bilancio''",
                      "AOL Time Warner",
                      "AOL, America Online",
                      "APEC, Asia-Pacific Economic Cooperation",
                      "Aquitania",
                      "Arabia Saudita",
                      "Arçelik",
                      "ArcelorMittal",
                      "Aree regionali",
                      "Argentina",
                      "Aristocrazia operaia",
                      "Armi chimiche",
                      "Armi nucleari",
                      "Arroyo Macapagal, Gloria",
                      "Asahi Bank",
                      "Ascesa",
                      "Asia",
                      "Asia centrale",
                      "Asmussen, Jörg",
                      "Assicurazioni",
                      "Associazione Internazionale dei Lavoratori (Prima Internazionale)",
                      "Astensione elettorale",
                      "Astensionismo cattolico",
                      "Astensionismo strategico",
                      "Atlantia",
                      "Attività spaziali",
                      "Auto elettrica",
                      "Autonomia",
                      "Autori vari, ''La scelta comunista''",
                      "Autori vari, ''Terrorismo reazionario, europeismo imperialista, internazionalismo comunista''",
                      "Autorità antitrust",
                      "Autostrade per l'Italia (gruppo)",
                      "Avalli Carlo, ''La questione storica dell'unità italiana''",
                      "Aviazione militare",
                      "BAE Systems",
                      "Balcani",
                      "Banca centrale",
                      "Banca d'Italia",
                      "Banca Nazionale del Lavoro",
                      "Banche",
                      "Banche centrali",
                      "Banche ''ombra''",
                      "Banche popolari",
                      "Bangalore",
                      "Bangladesh",
                      "Bank Austria Creditanstalt",
                      "Bank of England",
                      "Bank of Japan",
                      "Baosteel",
                      "Baowu Steel Group",
                      "Basi navali",
                      "Battaglie monetarie",
                      "Batterie agli ioni di litio",
                      "Bauman, Zygmunt",
                      "Baviera",
                      "Bayrou, François",
                      "BBVA, Banco Bilbao Vizcaya Argentaria",
                      "BCE, Banca Centrale Europea",
                      "Bear Stearns",
                      "Becker, Gary Stanley",
                      "Benetton (gruppo)",
                      "Bengala Occidentale",
                      "Benz, Karl",
                      "Berlusconismo",
                      "Bernstein, Eduard",
                      "Bertolucci Franco (a cura), ''Gruppi Anarchici d'Azione Proletaria. 1 Dal Fronte Popolare alla 'legge truffa' ''",
                      "Bertolucci Franco (a cura), ''Gruppi Anarchici d'Azione Proletaria. 2 Dalla rivolta di Berlino all'insurrezione di Budapest''",
                      "Bhutto (famiglia)",
                      "Bianchi Donato, ''La Russia nel mondo multipolare''",
                      "Biocarburanti",
                      "Bioetica",
                      "Biotecnologie",
                      "Birmania",
                      "BJP, Bharatiya Janata Party",
                      "BNDES, Banco Nacional de Desenvolvimento Econômico e Social",
                      "Bo, Xilai",
                      "Boeing",
                      "Bolle immobiliari",
                      "Bolsonaro, Jair",
                      "Bordiga Amadeo, ''Struttura economica e sociale della Russia d'oggi''",
                      "Bordiga, Amadeo",
                      "Bordighismo",
                      "Borse",
                      "Boschetti Marco, ''Industria e farmaci''",
                      "BP (già British Petroleum Company)",
                      "BPER, Banca Popolare dell'Emilia-Romagna",
                      "Brasile",
                      "Bretton Woods",
                      "BRI, Banca dei Regolamenti Internazionali",
                      "BRICS (Brasile, Russia, India, Cina, Sudafrica)",
                      "Bruegel (Brussels European and Global Economic Laboratory)",
                      "Brunel, Isambard Kingdom",
                      "Brzezinski, Zbigniew",
                      "Bucharin Nikolaj, ''Les problèmes fondamentaux de la culture contemporaine''",
                      "Bucharin Nikolaj, ''Teoria del materialismo storico''",
                      "Bundesbank",
                      "Bundesrat (Germania)",
                      "Bush (famiglia)",
                      "Business Roundtable",
                      "Cafiero, Carlo",
                      "Caisse des Dépôts et Consignations",
                      "Caisse Nationale des Caisses d'Epargne",
                      "California",
                      "Cambogia",
                      "Camera dei rappresentanti (USA)",
                      "Cameron, David",
                      "Capelluto Nicola - Palumberi Franco, ''Energia e petrolio nella contesa imperialista''",
                      "Capelluto Nicola, ''La crisi delle relazioni globali''",
                      "Capitale fittizio",
                      "capitalismo",
                      "Capuzzoni, Vito",
                      "Carbone",
                      "Carey, Henry Charles",
                      "Carige, Cassa di Risparmio di Genova e Imperia",
                      "Carnot, Lazare",
                      "Carnot, Sadi",
                      "Carri armati",
                      "Cartismo",
                      "Casella Roberto, ''Battaglie e principi per una politica comunista''",
                      "Casella Roberto, ''Giganti dell'Asia''",
                      "Casella Roberto, ''Il secolo dei Giganti dell'Asia''",
                      "Casella Roberto, ''La disfatta sindacale nel ciclo europeo''",
                      "Casella Roberto, ''Le siècle des géants de l'Asie - I. La Chine (1995-2012)",
                      "Casella Roberto, ''Le siècle des géants de l'Asie - II. L'Inde (1998-2012)",
                      "Casella, Roberto",
                      "Caste",
                      "Catalogna",
                      "Catastrofi naturali",
                      "Caucaso",
                      "Cavicchioli Gian Giacomo - Gianni Emilio, ''1919. L'Internazionale Comunista''",
                      "Cavour, Camillo Benso di",
                      "CCCC, China Communications Construction Company",
                      "CDU, Christlich Demokratische Union Deutschlands",
                      "Centri studi",
                      "CERN, Consiglio Europeo per la Ricerca Nucleare",
                      "Cernysevskij, Nicolaj Gavrilovic",
                      "Cervetto Arrigo, ''Forze e forme del mutamento italiano''",
                      "Cervetto Arrigo, ''Il ciclo politico del capitalismo di Stato. 1950-1967''",
                      "Cervetto Arrigo, ''Il mondo multipolare''",
                      "Cervetto Arrigo, ''La contesa mondiale''",
                      "Cervetto Arrigo, ''La difficile questione dei tempi''",
                      "Cervetto Arrigo, ''Lenin e la rivoluzione cinese''",
                      "Cervetto Arrigo, ''L'imperialismo unitario''",
                      "Cervetto Arrigo, ''L'ineguale sviluppo politico. 1968-1979''",
                      "Cervetto Arrigo, ''Lotte di classe e Partito rivoluzionario''",
                      "Cervetto Arrigo, ''Opere''",
                      "Cervetto Arrigo, ''Ricerche e scritti''",
                      "Cervetto, Arrigo",
                      "CES, Confederazione Europea dei Sindacati",
                      "CFDT, Confédération Française Démocratique du Travail",
                      "CFR, Council on Foreign Relations",
                      "CGIL, Confederazione Generale Italiana del Lavoro",
                      "CGT, Confédération Générale du Travail",
                      "Change to Win Federation",
                      "ChemChina",
                      "Chennai",
                      "Chevènement, Jean-Pierre",
                      "Chevron",
                      "Chicago",
                      "Chiesa cattolica",
                      "Chiesa ortodossa",
                      "China Unicom",
                      "Chinalco, Aluminum Corporation of China",
                      "Chrysler",
                      "Chubais, Anatoli",
                      "Cicli economici",
                      "Ciclo",
                      "Ciclo politico della nuova fase strategica",
                      "Ciclo politico europeo",
                      "Cina",
                      "CISL, Confederazione Italiana Sindacati Lavoratori",
                      "Citroën, André",
                      "Città",
                      "Classi sociali",
                      "Classifiche",
                      "CNN, Cable News Network",
                      "Colonialismo",
                      "Commercio",
                      "Commercio di armi",
                      "Commercio estero",
                      "Commercio internazionale",
                      "Commerzbank",
                      "Commissione Juncker",
                      "Commissione von der Leyen",
                      "Competizione per le materie prime",
                      "Competizione per l'energia",
                      "Competizione politica",
                      "Componenti etniche",
                      "Componentistica auto",
                      "Comunismo",
                      "Concessionari auto",
                      "Condizione femminile",
                      "Condizione giovanile",
                      "Condizioni operaie",
                      "Condizioni operaie nel Golfo Persico",
                      "Conferenza",
                      "Confessioni religiose",
                      "Confindustria",
                      "Congiuntura economica",
                      "Conseil constitutionnel (Francia)",
                      "Conservative Party (Gran Bretagna)",
                      "Conservazione dell'energia",
                      "Consiglio della Federazione (Russia)",
                      "Consumi",
                      "Consumi alimentari",
                      "Consumi energetici",
                      "Consumi per l'abbigliamento",
                      "Contadini",
                      "Conti Giulio, ''Squilibrio italiano e vincolo europeo''",
                      "Contraddizioni",
                      "Contrattazione sindacale collettiva",
                      "Convenzione europea",
                      "Cooke, William Fothergill",
                      "Corea del Nord",
                      "Corea del Sud",
                      "Corriere della Sera",
                      "Corruzione",
                      "Corte costituzionale",
                      "Costituzione europea",
                      "Costruzioni",
                      "CPI(M), Communist Party of India (Marxist)",
                      "Craxismo",
                      "Crédit Agricole",
                      "Credito",
                      "Cretinismo parlamentare",
                      "Crisi",
                      "Crisi della pandemia da Covid-19",
                      "Crisi della socialdemocratizzazione",
                      "Crisi della sovranità",
                      "Crisi delle ideologie liberiste",
                      "Crisi delle relazioni globali",
                      "Crisi economica",
                      "Crisi economiche",
                      "Crisi finanziaria",
                      "Crisi finanziarie",
                      "Crisi petrolifera",
                      "Crisi politiche",
                      "Crollo del ponte Morandi (Genova)",
                      "CSIS, Center for Strategic and International Studies (Indonesia)",
                      "CSU, Christlich-Soziale Union in Bayern",
                      "debito pubblico",
                      "Egitto",
                      "Est Europa",
                      "Europa",
                      "Francia",
                      "Germania",
                      "Giappone",
                      "Gran Bretagna",
                      "grandi gruppi",
                      "India",
                      "Indonesia",
                      "Inghilterra",
                      "internazionalizzazione",
                      "Irak",
                      "Iran",
                      "Israele",
                      "Italia",
                      "Kosovo",
                      "Libano",
                      "liberismo imperialista",
                      "Malaysia",
                      "Medio Oriente",
                      "Messico",
                      "modernizzazione",
                      "Nord Africa",
                      "Pakistan",
                      "parlamentarismo",
                      "Repubblica Ceca",
                      "Russia",
                      "Siria",
                      "Spagna",
                      "Stretto di Taiwan nel 1996",
                      "Sudafrica",
                      "Suez nel 1956",
                      "Taiwan",
                      "Thailandia",
                      "Tibet",
                      "Turchia",
                      "Ucraina",
                      "UE",
                      "Ungheria",
                      "USA",
                      "Vietnam",
                      "Zimmerwald"
                    ],
    },
  },
  data() {
    return {
      search: '',
      results: [],
      isOpen: false,
    };
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  unmounted() {
    document.removeEventListener('click', this.handleClickOutside);
  },
  methods: {
    setResult(result) {
      this.search = result;
      this.isOpen = false;
    },filterResults() {
      this.results = this.items.filter(item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1);
    },onChange() {
      this.filterResults();
      this.isOpen = true;
    },handleClickOutside(event) {
      if (!this.$el.contains(event.target)) {
        this.isOpen = false;
      }
    }
  }
}
</script>

<style>
  .autocomplete {
    position: relative;
  }

  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    min-height: 1em;
    max-height: 6em;    
    overflow: auto;
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }

  .autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
  }
</style>