<template>
  <SearchAutocomplete />
  <AndOr v-model="decision1" />
  <SearchAutocomplete  />
  <AndOr v-model="decision2" />
  <ResultsTable  />
</template>

<script>
import SearchAutocomplete from './components/SearchAutocomplete.vue'
import AndOr from './components/AndOr.vue'
import ResultsTable from './components/ResultsTable.vue'

export default {
  name: 'App',
  components: {
    SearchAutocomplete,
    AndOr,
    ResultsTable
  },
  data: () => ({
   decision1: '',
   decision2: ''
  })
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
